<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexstyle.css') }}"><!-- Link to the CSS file -->
</head>
<body>
    <nav>
        <h1>Welcome Home</h1>
    </nav>
    <div class="container">
        <a href="/login" class="button">Login</a>
        <a href="/register" class="button">Register</a>
    </div>
</body>
</html>